<div class="container">
  
    <header>
      <h2 class="left">
      <!-- <a class="backBtn"></a> -->
      <%= link_to '', applications_path , :class => 'backBtn' %>
      <span>Application:<%= @application.name %></span>
      </h2>
    </header>

    

  
  <div class="appDetails">

  <div class="actions editApp">
    <!-- <h3>Actions</h3> -->
    <!-- <p><%= link_to 'Home', main_app.root_path %></p> -->
    <!-- <p><%= link_to 'List all', applications_path %></p> -->    
    <%= link_to 'Edit', edit_application_path(@application) , class: "Btn colrBtn right" %>    
    <%= link_to 'Remove', @application, :method => :delete, :confirm => "Are you sure?" , class: "Btn nrmlBtn right" %>
  </div>

  <ul>
    <li>
      <h4>Callback url:</h4>
    <p><%= @application.redirect_uri %></p>
    </li>

    <li>
      <h4>Application Id:</h4>
      <p><code><%= @application.uid %></code></p>
    </li>

    <li>
      <h4>Secret:</h4>
      <p><code><%= @application.secret %></code></p>
    </li>

  </ul>
    

  </div>
</div>
